uris =  ldaps://{{ dovecot_ldap_server }}
dn = {{ dovecot_ldap_user }}
dnpass = {{ dovecot_ldap_password }}
base = {{ dovecot_ldap_base }}

auth_bind = yes
pass_attrs = \
  =user=%{ldap:uid}, \
  =userdb_home={{ dovecot_data_directory }}/%{ldap:uid}, \
  =userdb_uid=%{ldap:uidNumber}, \
  =userdb_gid=%{ldap:gidNumber}
# We can try to match full uid at login or full mail
{# pass_filter = (&(objectClass=rz42Person)(memberOf='cn=mail,ou=Group,rz42,o=rz-42,c=de')(|((uid=%u)(mail=%u)))) #}
pass_filter = (&(objectClass=rz42Person)(memberOf={{ dovecot_ldap_group }})(|(uid=%u)(mail=%u)))

# UserDB for LDA
user_attrs = \
  =home={{ dovecot_data_directory }}/%{ldap:uid}, \
  =uid=%{ldap:uidNumber}, \
  =gid=%{ldap:gidNumber}

# For using doveadm -A:
iterate_attrs = =user=%{ldap:uid}
iterate_filter = (&(objectClass=rz42Person))
# We can use %Ln because normal login will not use this lookup
user_filter = (&(objectClass=rz42Person)(memberOf={{ dovecot_ldap_group }})(uid=%Ln))
