# 2.2.13: /etc/dovecot/dovecot.conf
# OS: Linux 3.16.0-4-amd64 x86_64 Debian 8.10
auth_mechanisms = plain
auth_username_format = %Lu
disable_plaintext_auth = yes
first_valid_gid = 500
first_valid_uid = 500
last_valid_gid = 0
last_valid_uid = 0
lda_mailbox_autosubscribe = yes
listen = *, ::
login_greeting = Dovecot ready.
mail_gid = 500
mail_location = maildir:~/Maildir:CONTROL=~/control
mail_plugins = listescape
mail_uid = 500
managesieve_notify_capability = mailto
managesieve_sieve_capability = fileinto reject envelope encoded-character vacation subaddress comparator-i;ascii-numeric relational regex imap4flags copy include variables body enotify environment mailbox date ihave

namespace legacy {
  separator = /
  prefix = INBOX/
  alias_for =
  hidden = yes
  list = no

}
namespace inbox {
  inbox = yes
  location =
  mailbox Drafts {
    special_use = \Drafts
  }
  mailbox Junk {
    special_use = \Junk
  }
  mailbox Sent {
    special_use = \Sent
  }
  mailbox "Sent Messages" {
    special_use = \Sent
  }
  mailbox Trash {
    special_use = \Trash
  }
  prefix =
  separator = /
  type = private
}
plugin {
  sieve = ~/.dovecot.sieve
  sieve_dir = ~/sieve
}

protocols = " imap lmtp sieve{{ dovecot_submission | ternary(' submission', '') }}"

service imap-login {
  inet_listener imap {
    address = localhost
    port = 0
  }
}
service lmtp {
  inet_listener lmtp {
    port = 24
  }
}

{% if dovecot_sasl_auth %}
service auth {
  unix_listener /var/run/exim4/auth-client {
    group = {{ dovecot_auth_group }}
    mode = 0660
    user = {{ dovecot_auth_user }}
  }
  }
{% endif %}
service managesieve-login {
  inet_listener sieve {
    port = 4190
  }
}
service pop3-login {
  inet_listener pop3 {
    port = 0
  }
  inet_listener pop3s {
    port = 0
  }
}
{% if dovecot_submission %}
service submission-login {
  inet_listener submission {
    port = 587
  }
}
submission_relay_host = localhost
{% endif %}

ssl_cert = <{{ dovecot_cert }}
ssl_cipher_list = EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
ssl_key = <{{ dovecot_key }}
ssl_prefer_server_ciphers = yes
ssl_min_protocol = TLSv1

# Auth/Login
passdb {
  args = /etc/dovecot/dovecot-ldap.conf.ext
  driver = ldap
  name =
}
userdb {
  driver = prefetch
}

# UserDB used only by LDA
userdb {
  args = /etc/dovecot/dovecot-ldap.conf.ext
  driver = ldap
  name =
}
verbose_ssl = no
protocol lmtp {
  mail_plugins = listescape sieve
}
