# 2.2.13: /etc/dovecot/dovecot.conf
# OS: Linux 3.16.0-4-amd64 x86_64 Debian 8.10
auth_mechanisms = plain
auth_username_format = %Lu
disable_plaintext_auth = yes
first_valid_gid = 500
first_valid_uid = 500
last_valid_gid = 0
last_valid_uid = 0
lda_mailbox_autosubscribe = yes
listen = *, ::
login_greeting = Dovecot ready.
mail_gid = 500
mail_location = maildir:~/Maildir:INBOX=/data/mail/%Ld/%Ln
mail_plugins = listescape
mail_uid = 500
managesieve_notify_capability = mailto
managesieve_sieve_capability = fileinto reject envelope encoded-character vacation subaddress comparator-i;ascii-numeric relational regex imap4flags copy includ
e variables body enotify environment mailbox date ihave
namespace inbox {
  inbox = yes
  location =
  mailbox Drafts {
    special_use = \Drafts
  }
  mailbox Junk {
    special_use = \Junk
  }
  mailbox Sent {
    special_use = \Sent
  }
  mailbox "Sent Messages" {
    special_use = \Sent
  }
  mailbox Trash {
    special_use = \Trash
  }
  prefix = INBOX/
  separator = /
  type = private
}
passdb {
  args = /etc/dovecot/dovecot-ldap-auth.conf.ext
  driver = ldap
  name =
}
plugin {
  sieve = ~/.dovecot.sieve
  sieve_dir = ~/sieve
}
protocols = " imap lmtp sieve"

service imap-login {
  inet_listener imap {
    address = localhost
    port = 143
  }
}
service lmtp {
  inet_listener lmtp {
    address = localhost
    port = 24
  }
}

service auth {
  unix_listener /var/run/exim4/auth-client {
    group = Debian-exim
    mode = 0660
    user = Debian-exim
  }
}
service managesieve-login {
  inet_listener sieve {
    port = 4190
  }
}
service pop3-login {
  inet_listener pop3 {
    port = 0
  }
  inet_listener pop3s {
    port = 0
  }
}
ssl_cert = <{{ dovecot_cert }}
ssl_cipher_list = EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
ssl_key = <{{ dovecot_key }}
ssl_prefer_server_ciphers = yes
ssl_min_protocol = TLSv1

userdb {
  args = /etc/dovecot/dovecot-ldap-userdb.conf.ext
  driver = ldap
  name =
}
verbose_ssl = no
protocol lmtp {
  mail_plugins = listescape sieve
}
